html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapper {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    background-color: #232930;
}

input[name="inputField"] {
    width: 70%;
}

.nav-search {
    width: 65%;
}

/* https://stackoverflow.com/questions/12991351/css-force-image-resize-and-keep-aspect-ratio */
.card-img-custom {
    display: block;
    max-width:450px;
    max-height:350px;
    width: auto;
    height: auto;
}

.card-img-index {
    display: block;
    max-width: 200px;
    max-height: 215px;
    width: auto;
    height: auto;
}

.bg-navbar {
    background-color: #232930;
}

.alert {
    margin-bottom: 0;
}

.card > h4 > .fa-star:hover {
    cursor: pointer;
} 