<!-- Switching between chapters and accessing about manga page -->
<div class="btn-group d-flex justify-content-center" role="group" aria-label="chapter navigation buttons">
    {% if chapter_nav['previous'] != None %}
        <a href="{{ url_for('chapter', alias=alias, chapter=chapter_nav['previous']) }}" class='btn btn-secondary'><i class="fas fa-arrow-left"></i>&ensp;{{ chapter_nav['previous'] }}</a>
    {% endif %}
    <a href="{{ url_for('about_manga', manga_alias=alias ) }}" class='btn btn-info'>{{ title }}</a>
    {% if chapter_nav['next'] != None %}
        <a href="{{ url_for('chapter', alias=alias, chapter=chapter_nav['next']) }}" class='btn btn-secondary'>{{ chapter_nav['next'] }}&ensp;<i class="fas fa-arrow-right"></i></a>
    {% endif %}
</div>