<!-- Navbar for all other pages -->
<nav class="navbar navbar-dark fixed-top navbar-expand-md bg-navbar justify-content-between">
    <a href="/manga" class="navbar-brand mr-0">MangaViewer</a> 
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar">
        
        <div class='input-group mx-auto nav-search'>
            <label for='mangaSearch' class='sr-only'>Search Manga</label>
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input 
                id="inputField" 
                name="inputField" 
                class="form-control" 
                autocomplete="off" 
                spellcheck="false"
                type="text"
                list="suggestions"
                placeholder="Manga Title"
                aria-label="Search"
                list="suggestions"
            >
                
            <datalist id="suggestions">
                <!--[if IE 9]><select disabled style="display:none" class="ie9_fix"><![endif]-->
                <!--[if IE 9]></select><![endif]-->
            </datalist>
        </div>

        <ul class="nav navbar-nav flex-row justify-content-around flex-nowrap">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </div>
</nav>
