<!-- Navbar for the home page -->
<nav class="navbar navbar-dark fixed-top navbar-expand-sm bg-navbar justify-content-between">
    <a href="/manga" class="navbar-brand mr-0">MangaViewer</a> 
    
    <ul class="nav navbar-nav flex-row justify-content-between flex-nowrap">
        <li class="nav-item mx-1"><a class="nav-link" href="{{ url_for('register') }}">Register</a></li>
        <li class="nav-item mx-1"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
        <li class="nav-item mx-1"><a class="nav-link" href="">Logout</a></li>
    </ul>
</nav>
