{% extends "layout.html" %}

{% block title %}
    {{ manga["title"] }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block navbar %}
    {% include "includes/_navbar_other.html" %}
{% endblock %}

{% block main %}
    <div class="container mt-4">
        <div class="card">
            <h4 class="card-header text-center mb-1">
                {{ manga["title"] }}
            </h4>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <img class="card-img-custom w-100 mx-auto d-block" alt='{{ manga[2] }}' src="https://cdn.mangaeden.com/mangasimg/{{ manga['image'] }}" >
                </div>
                <div class="col-md-8 px-3 col-xs-12">
                    <div class="card-block px-2 mt-4 pb-3 d-flex flex-column justify-content-start h-100">
                        <h5 class='card-title'>Author:  {{ manga["author"] }} </h5>
                        <p class='card-text'>Categories:  {% for category in manga["categories"] %} <span class="badge badge-secondary">{{ category }}</span> {% endfor %} </p>
                    </div>
                </div>
    
            </div>
        </div>

        <hr>
        <h3 class='text-center'>Chapters</h3>
        <div class='list-group list-group-flush mb-2'>
            {% for chapter in manga["chapters"] %}
                <a 
                    href="{{ url_for('chapter', alias=manga['alias'], chapter=chapter[0]) }}"
                    class='list-group-item list-group-item-action'
                    >
                    <div class='d-flex w-100 justify-content-between'>
                        <h6 class='mb-1'>
                            {{ chapter[0] }} 
                            {% if chapter[2] != None %}
                                - {{ chapter[2] }}
                            {% endif %}
                        </h6>    
                        <small>{{ chapter[1] | timestamp_to_time('%d-%m-%Y') }}</small>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
     
{% endblock %}