{% extends "layout.html" %}

{% block title %}
    {{ title }}: {{ chapter_nav['current'] }}
{% endblock %}

{% block styles %}
    <style>
        .jumbotron {
            margin-bottom: 0;
        }
        .wrapper {
            background-color: #343a40 !important;
        }

    </style>
{% endblock %}

{% block navbar %}
    {% include "includes/_navbar_other.html" %}
{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h3 class='text-center mb-4'>Chapter: {{ chapter_nav['current'] }}</h3>

        {% include 'includes/_chapter_navigation.html' %}
        
    </div>
    
    <div class="container bg-dark pt-5 w-100">
        {% for page in pages %}
        <div class="w-100 mb-3">
            <img class="mx-auto d-block img-responsive w-100 px-2" src="https://cdn.mangaeden.com/mangasimg/{{ page[1] }}" alt="{{ page[0] }}" />
        </div> 
        {% endfor %}
    </div>

    {% include 'includes/_chapter_navigation.html' %}

{% endblock %}