{% extends "layout.html" %}

{% block title %}
    {{ title }}: {{ chapter }}
{% endblock %}

{% block styles %}
    <style>
        body {
            background-color:#343a40;
        }
        .jumbotron {
            padding: 50px 40px;
        }
    </style>
{% endblock %}

{% block navbar %}
    {% include "includes/_navbar_other.html" %}
{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h3 class='text-center mb-4'>Chapter: {{ chapter }}</h3>

        <!-- TODO: put buttons on the middle -->
        <div class="btn-group d-flex justify-content-center" role="group" aria-label="chapter navigation buttons">
            <a href="#" class='btn btn-secondary'>Previous</a>
            <a href="{{ url_for('about_manga', manga_alias=alias ) }}" class='btn btn-info'>{{ title }}</a>
            <a href="#" class='btn btn-secondary'>Next</a>
        </div>
        
    </div>
    
    <div class="container">
        {% for page in pages %}
        <div class="w-100 mb-3">
            <img class="mx-auto d-block img-responsive w-100" src="https://cdn.mangaeden.com/mangasimg/{{ page[1] }}" alt="{{ page[0] }}" />
        </div> 
        {% endfor %}
    </div>
{% endblock %}