{% extends "layout.html" %}

{% block title %}
    Manga - Home
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block navbar %}
    {% include "includes/_navbar_main.html" %}
{% endblock %}

{% block main %}
    <div class="bg-light pt-3 px-3 pt-md-1 px-md-5 text-center text-muted pb-5">
        <div class="my-3 py-3">
            <h1 class="display-4 font-weight-normal mb-3">Search Manga</h1>
            <label class="sr-only" for="inputField">Manga Title</label>
            <input 
                id="inputField" 
                name="inputField" 
                class="form-control py-2 mx-auto" 
                autofocus
                autocomplete="off" 
                spellcheck="false" 
                type="text" 
                list="suggestions" 
                placeholder="Manga" 
            />
            <datalist id="suggestions">
                <!--[if IE 9]><select disabled style="display:none" class="ie9_fix"><![endif]-->
                <!--[if IE 9]></select><![endif]-->
            </datalist>
        </div>
        
        <div class="bg-white box-shadow mx-auto text-secondary border" style="width: 80%; border-radius: 21px 21px 21px 21px;">
            <h4 class="py-3" style='border-bottom: 1px solid rgb(219, 219, 219)' >Favorite Manga</h4>
            <div class="container d-flex justify-content-around flex-wrap">
                {% if subs %}
                    {% for manga in subs %}
                        <div class="card mb-4 border">
                            <a href="{{ url_for('about_manga', manga_alias=manga['alias']) }}">
                                <img class="card-img-index mx-auto" src="{{ manga['image'] }}" alt="Manga image">
                                <div class="card-body">
                                    <h5 class="card-text">{{ manga['title'] }}</h5>
                                </div>
                            </a>
                            <div class="card-footer">
                                <small class="text-muted">{{ manga['last_chapter_date'] | timestamp_to_time('%d-%m-%Y') }}</small>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class='mb-4'>Add Manga to favorites using <i class='far fa-star'></i></div>
                {% endif %}
            </div>
        </div>
        
    </div>
{% endblock %}

