{% extends "layout.html" %}

{% block title %}
    Manga - Home
{% endblock %}

{% block main %}
    <h2>Manga Viewer</h2>
        <div class="form-group">
            <label class="sr-only" for="q">Manga Title</label>

            <input 
                id="inputField" 
                name="inputField" 
                class="form-control" 
                autofocus
                autocomplete="off" 
                spellcheck="false" 
                type="text" 
                list="suggestions" 
                placeholder="Manga" 
            />
            <datalist id="suggestions">
            </datalist>
        </div>
    
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}