{% extends "layout.html" %}

{% block title %}
    Manga - Home
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block navbar %}
    {% include "includes/_navbar_main.html" %}
{% endblock %}


{% block main %}
    <div class="bg-secondary pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h1 class="display-4 font-weight-normal mb-3">Search Manga</h1>
            <label class="sr-only" for="inputField">Manga Title</label>
            <input 
                id="inputField" 
                name="inputField" 
                class="form-control py-2 mx-auto" 
                autofocus
                autocomplete="off" 
                spellcheck="false" 
                type="text" 
                list="suggestions" 
                placeholder="Manga" 
            />
            <datalist id="suggestions">
                <!--[if IE 9]><select disabled style="display:none" class="ie9_fix"><![endif]-->
                <!--[if IE 9]></select><![endif]-->
            </datalist>
        </div>
        <div class="bg-light box-shadow mx-auto text-dark" style="width: 80%; height: 100vh; border-radius: 21px 21px 0 0;">
            <h3>Favorite Manga</h3>
        </div>
    </div>

{% endblock %}

{% block scripts %}    
{% endblock %}